<div class="card column" id="<%= dom_id entry %>" style="max-width: 400px; width: 100%">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><%= entry.meal_type %></p>
        <p class="subtitle is-6"><%= time_ago_in_words entry.created_at %> ago</p>
      </div>
    </div>
    <div class="content">
      <p>
        <strong>Calories</strong>: <%= entry.calories %>
      </p>
      <p>
        <strong>Proteins</strong>: <%= entry.proteins %>
      </p>
      <p>
        <strong>Carbohydrates</strong>: <%= entry.carbohydrates %>
      </p>
      <p>
        <strong>Fats</strong>: <%= entry.fats %>
      </p>
    </div>
  </div>
    <footer class="card-footer">
      <%= link_to "Show", entry, { class: "card-footer-item" } %>
      <%= link_to "Edit", edit_entry_path(entry), { class: "card-footer-item" } %>
      <%= link_to "Delete", entry, data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' }, class: 'card-footer-item' %>
    </footer>
</div>