<%= form_with(model: entry, class: "box", html: { style: "max-width: 800px" }) do |form| %>
  <% if entry.errors.any? %>
    <div class="message">
      <div class="message-header has-background-danger">
        <p class=""><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</p>
      </div>

      <div class="message-body has-background-danger-light" >
        <% entry.errors.each do |error| %>
          <p class="has-text-weight-semibold has-text-danger"><%= error.full_message %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="columns is-multiline">  
    <div class="field column is-half">
      <%= form.label :meal_type, style: "display: block", class: "label" %>
      <div class="control">
        <%= form.text_field :meal_type, placeholder: "Meal type", class: "input" %>
      </div>
    </div>

    <div class="field column is-half">
      <%= form.label :calories, style: "display: block", class: "label" %>
      <div class="control">
        <%= form.number_field :calories, class: 'input' %>
      </div>
    </div>
    <div class="field column is-half">
      <%= form.label :proteins, style: "display: block", class: "label" %>
      <div class="control">
        <%= form.number_field :proteins, class: 'input' %>
      </div>
    </div>

    <div class="field column is-half">
      <%= form.label :carbohydrates, style: "display: block", class: "label" %>
      <div class="control">
      <%= form.number_field :carbohydrates, class: "input" %>
      </div>
    </div>

    <div class="field column is-half">
      <%= form.label :fats, style: "display: block", class: "label" %>
      <div class="control">
      <%= form.number_field :fats, class: "input" %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= form.submit class: "button is-link" %>
  </div>
<% end %>
